[submodule "Packages/com.oculus.unity.integration.spatializer"]
	path = Packages/com.oculus.unity.integration.spatializer
	url = https://github.com/Trisgram/com.oculus.unity.integration.spatializer.git
[submodule "Packages/com.oculus.unity.integration.vr"]
	path = Packages/com.oculus.unity.integration.vr
	url = https://github.com/Trisgram/com.oculus.unity.integration.vr.git
[submodule "Packages/com.oculus.unity.integration.lip-sync"]
	path = Packages/com.oculus.unity.integration.lip-sync
	url = https://github.com/Trisgram/com.oculus.unity.integration.lip-sync.git
[submodule "Packages/com.oculus.unity.integration.platform"]
	path = Packages/com.oculus.unity.integration.platform
	url = https://github.com/Trisgram/com.oculus.unity.integration.platform.git
[submodule "Packages/com.oculus.unity.integration.audio-manager"]
	path = Packages/com.oculus.unity.integration.audio-manager
	url = https://github.com/Trisgram/com.oculus.unity.integration.audio-manager.git
